In [1]:
import pandas as pd

In [2]:
# On définit une fonction qui check les doublons dans une colonne et nous indique le nombre de doublons contenus dans cette colonne suivi d'un aperçu de ces doulons.
def check_duplicates(data, column):
    n = len(data.index)
    if len(data[column].drop_duplicates()) == n :
        print ("La colonne", column, "ne contient pas de doublons")
    else :
        if len(column) == 1:
            print("La clé", column, "contient ", len(data[data[column].duplicated()]), " doublons.")
        else:
            print("La clé composée des colonnes", column, "contient ", len(data[data[column].duplicated()]), " doublons.")
        return data[data[column].duplicated()]

# On définit une fonction qui check les valeurs manquantes et indique le nombre de valeurs manquantes contenues dans cette colonne suivi d'un aperçu de ces valeurs manquantes.
def check_nan(data, column):
    print(data.isnull().sum())
    if len(data[data[column].isnull()]) == 0:
        print ("La colonne", column, "ne contient aucune valeur manquante")
    else :
        print("La colonne", column, "contient ", len(data[data[column].isnull()]), " valeurs manquantes.")
        return data[data[column].isnull()]


# On définit une fonction qui detecter les outliers
outliers=[]
def check_outliers(data):
    threshold = 2
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score = (i- mean)/std
        if z_score > threshold:
            outliers.append(i)
    print("Le nombre d'outliers détectés  " + str(len(outliers)))


def df_abstract(df):
    print('='*70)
    print('Apérçu des données :')
    display(df.head())
    print('(Lignes, Colonnes) : \t', df.shape)
    print()
    print('='*70)
    print('\n Infos : \n')
    df.info()
    print()
    print('='*70)
    print('\n Describe :')
    display(df.describe())
    print()
    print('='*70)

In [3]:
dispo = pd.read_csv("dispo_en.csv")
dispo = dispo[['Area', 'Element', 'Item', 'Year', 'Value']]

In [4]:
t =dispo.pivot_table(index=["Area", "Year"], columns=["Element"])
r=[]
for i in t.columns:
    r.append(i[1])
r

['Domestic supply quantity',
 'Export Quantity',
 'Fat supply quantity (g/capita/day)',
 'Food',
 'Food supply (kcal/capita/day)',
 'Food supply quantity (kg/capita/yr)',
 'Import Quantity',
 'Losses',
 'Other uses (non-food)',
 'Processing',
 'Production',
 'Protein supply quantity (g/capita/day)',
 'Residuals',
 'Stock Variation',
 'Tourist consumption']

In [5]:
dispo2 = dispo.pivot_table(index=["Area", "Year"], columns=["Element"])
dispo2

                                    Value                  \
Element          Domestic supply quantity Export Quantity
Area        Year
Afghanistan 2015                     66.0             0.0
            2016                     69.0             NaN
            2017                     64.0             NaN
            2018                     53.0             0.0
            2019                     67.0             NaN
...                                   ...             ...
Zimbabwe    2015                     69.0             NaN
            2016                     75.0             0.0
            2017                     75.0             NaN
            2018                     66.0             NaN
            2019                     54.0             0.0

                                                           \
Element          Fat supply quantity (g/capita/day)  Food
Area        Year
Afghanistan 2015                               0.42  66.0
            2016                               0.42  69.0
            2017                               0.38  64.0
            2018                               0.31  53.0
            2019                               0.38  67.0
...                                             ...   ...
Zimbabwe    2015                               1.06  69.0
            2016                               1.13  75.0
            2017                               1.11  75.0
            2018                               0.97  66.0
            2019                               0.77  54.0

                                                \
Element          Food supply (kcal/capita/day)
Area        Year
Afghanistan 2015                           7.0
            2016                           7.0
            2017                           6.0
            2018                           5.0
            2019                           6.0
...                                        ...
Zimbabwe    2015                          17.0
            2016                          18.0
            2017                          18.0
            2018                          15.0
            2019                          12.0

                                                                             \
Element          Food supply quantity (kg/capita/yr) Import Quantity Losses
Area        Year
Afghanistan 2015                                1.92            43.0    NaN
            2016                                1.96            37.0    NaN
            2017                                1.76            29.0    NaN
            2018                                1.44            25.0    NaN
            2019                                1.76            44.0    NaN
...                                              ...             ...    ...
Zimbabwe    2015                                5.01             8.0    NaN
            2016                                5.33             8.0    NaN
            2017                                5.27             6.0    NaN
            2018                                4.57             4.0    NaN
            2019                                3.66             1.0    NaN

                                                              \
Element          Other uses (non-food) Processing Production
Area        Year
Afghanistan 2015                   NaN        NaN       25.0
            2016                   NaN        NaN       24.0
            2017                   NaN        NaN       28.0
            2018                   NaN        NaN       29.0
            2019                   NaN        NaN       28.0
...                                ...        ...        ...
Zimbabwe    2015                   NaN        NaN       61.0
            2016                   NaN        NaN       67.0
            2017                   NaN        NaN       69.0
            2018                   NaN        NaN       62.0
            2019                   NaN        NaN       52.0

                                                                   \
Element          Protein supply quantity (g/capita/day) Residuals
Area        Year
Afghanistan 2015                                   0.69       0.0
            2016                                   0.70       0.0
            2017                                   0.63       0.0
            2018                                   0.51       0.0
            2019                                   0.63       0.0
...                                                 ...       ...
Zimbabwe    2015                                   1.69       0.0
            2016                                   1.80       0.0
            2017                                   1.78       0.0
            2018                                   1.54       0.0
            2019                                   1.23       0.0


Element          Stock Variation Tourist consumption
Area        Year
Afghanistan 2015             1.0                 NaN
            2016            -8.0                 NaN
            2017            -7.0                 NaN
            2018             0.0                 NaN
            2019             5.0                 NaN
...                          ...                 ...
Zimbabwe    2015             0.0                 NaN
            2016             0.0                 NaN
            2017             0.0                 NaN
            2018             0.0                 NaN
            2019             0.0                 NaN

[900 rows x 15 columns]

In [6]:
dispo2.columns=['Domestic supply quantity',
 'Export Quantity',
 'Fat supply quantity (g/capita/day)',
 'Food',
 'Food supply (kcal/capita/day)',
 'Food supply quantity (kg/capita/yr)',
 'Import Quantity',
 'Losses',
 'Other uses (non-food)',
 'Processing',
 'Production',
 'Protein supply quantity (g/capita/day)',
 'Residuals',
 'Stock Variation',
 'Tourist consumption']

In [7]:
dispo2 = dispo2.reset_index()
dispo2

,Area,Year,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Stock Variation,Tourist consumption
0,Afghanistan,2015,66.0,0.0,0.42,66.0,7.0,1.92,43.0,NaN,NaN,NaN,25.0,0.69,0.0,1.0,NaN
1,Afghanistan,2016,69.0,NaN,0.42,69.0,7.0,1.96,37.0,NaN,NaN,NaN,24.0,0.70,0.0,-8.0,NaN
2,Afghanistan,2017,64.0,NaN,0.38,64.0,6.0,1.76,29.0,NaN,NaN,NaN,28.0,0.63,0.0,-7.0,NaN
3,Afghanistan,2018,53.0,0.0,0.31,53.0,5.0,1.44,25.0,NaN,NaN,NaN,29.0,0.51,0.0,0.0,NaN
4,Afghanistan,2019,67.0,NaN,0.38,67.0,6.0,1.76,44.0,NaN,NaN,NaN,28.0,0.63,0.0,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,Zimbabwe,2015,69.0,NaN,1.06,69.0,17.0,5.01,8.0,NaN,NaN,NaN,61.0,1.69,0.0,0.0,NaN
896,Zimbabwe,2016,75.0,0.0,1.13,75.0,18.0,5.33,8.0,NaN,NaN,NaN,67.0,1.80,0.0,0.0,NaN
897,Zimbabwe,2017,75.0,NaN,1.11,75.0,18.0,5.27,6.0,NaN,NaN,NaN,69.0,1.78,0.0,0.0,NaN
898,Zimbabwe,2018,66.0,NaN,0.97,66.0,15.0,4.57,4.0,NaN,NaN,NaN,62.0,1.54,0.0,0.0,NaN
899,Zimbabwe,2019,54.0,0.0,0.77,54.0,12.0,3.66,1.0,NaN,NaN,NaN,52.0,1.23,0.0,0.0,NaN

In [8]:
dispo2019 = dispo2[dispo2["Year"] == 2019]
dispo2019 = dispo2019.fillna(0)
dispo2019["Other uses"] = dispo2019["Losses"] + dispo2019["Other uses (non-food)"] + dispo2019["Tourist consumption"]

In [9]:
dispo2019 = dispo2019[['Area',
       'Domestic supply quantity',
       'Food supply quantity (kg/capita/yr)',
        'Food supply (kcal/capita/day)',       
       'Import Quantity',  'Export Quantity',
       'Production',
        'Food','Other uses']]

In [10]:
dispo2019["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

In [11]:
food_sup = pd.read_csv("FAOSTAT_data_5-31-2022.csv")

food_sup = pd.pivot_table(food_sup,index='Area', values ="Value", aggfunc='sum')
food_sup.columns = ["Food supply (kcal/capita/day)(All products)"]
food_sup = food_sup.reset_index()
food_sup

,Area,Food supply (kcal/capita/day)(All products)
0,Afghanistan,2271
1,Albania,3334
2,Algeria,3490
3,Angola,2441
4,Antigua and Barbuda,2483
...,...,...
175,Venezuela (Bolivarian Republic of),2200
176,Viet Nam,2937
177,Yemen,2017
178,Zambia,2261
179,Zimbabwe,1704

In [12]:
dispo2019 = dispo2019.merge(food_sup, on="Area", how="outer")

In [13]:
dispo2019

,Area,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products)
0,Afghanistan,67.0,1.76,6.0,44.0,0.0,28.0,67.0,0.0,2271
1,Albania,34.0,11.71,61.0,22.0,0.0,12.0,34.0,0.0,3334
2,Algeria,287.0,6.67,23.0,0.0,1.0,291.0,287.0,0.0,3490
3,Angola,327.0,10.28,34.0,278.0,0.0,49.0,327.0,0.0,2441
4,Antigua and Barbuda,7.0,61.49,265.0,7.0,0.0,0.0,6.0,1.0,2483
...,...,...,...,...,...,...,...,...,...,...
175,Venezuela (Bolivarian Republic of),428.0,15.01,52.0,0.0,0.0,428.0,428.0,0.0,2200
176,Viet Nam,1256.0,13.08,48.0,203.0,37.0,1089.0,1262.0,0.0,2937
177,Yemen,352.0,12.06,42.0,140.0,0.0,192.0,352.0,0.0,2017
178,Zambia,65.0,3.65,12.0,23.0,9.0,51.0,65.0,0.0,2261
179,Zimbabwe,54.0,3.66,12.0,1.0,0.0,52.0,54.0,0.0,1704

In [14]:
gdp = pd.read_csv("FAOSTAT_data_5-31-2022 (1).csv")
gdp

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,2,Afghanistan,6110,Value US$,22008,Gross Domestic Product,2019,2019,millions,18904.490263,X,International reliable sources,NaN
1,MK,Macro Indicators,2,Afghanistan,6119,Value US$ per capita,22008,Gross Domestic Product,2019,2019,US$,496.940553,X,International reliable sources,NaN
2,MK,Macro Indicators,2,Afghanistan,6129,Annual growth US$,22008,Gross Domestic Product,2019,2019,%,2.636658,Fc,Calculated data,NaN
3,MK,Macro Indicators,2,Afghanistan,61290,Annual growth US$ per capita,22008,Gross Domestic Product,2019,2019,%,0.289848,Fc,Calculated data,NaN
4,MK,Macro Indicators,2,Afghanistan,6110,Value US$,22008,Gross Domestic Product,2020,2020,millions,19793.262413,X,International reliable sources,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1683,MK,Macro Indicators,181,Zimbabwe,61290,Annual growth US$ per capita,22008,Gross Domestic Product,2019,2019,%,-11.048311,Fc,Calculated data,NaN
1684,MK,Macro Indicators,181,Zimbabwe,6110,Value US$,22008,Gross Domestic Product,2020,2020,millions,21786.743637,X,International reliable sources,NaN
1685,MK,Macro Indicators,181,Zimbabwe,6119,Value US$ per capita,22008,Gross Domestic Product,2020,2020,US$,1465.845054,X,International reliable sources,NaN
1686,MK,Macro Indicators,181,Zimbabwe,6129,Annual growth US$,22008,Gross Domestic Product,2020,2020,%,-0.676230,Fc,Calculated data,NaN
1687,MK,Macro Indicators,181,Zimbabwe,61290,Annual growth US$ per capita,22008,Gross Domestic Product,2020,2020,%,-2.129414,Fc,Calculated data,NaN

In [15]:
gdp["Item"] += " (" + gdp["Element"] + ")"
gdp2019= gdp[gdp["Year"] ==2019]
gdp2019 = pd.pivot_table(gdp2019, index="Area", columns="Item",values="Value")
gdp2019.columns =['Gross Domestic Product (Annual growth US$ per capita)',
       'Gross Domestic Product (Annual growth US$)',
       'Gross Domestic Product (Value US$ per capita)',
       'Gross Domestic Product (Value US$)']
gdp2019 = gdp2019.reset_index()

In [16]:
gdp2019["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)

In [17]:
dispo2019 = dispo2019.merge(gdp2019, on="Area", how="left")
dispo2019

,Area,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products),Gross Domestic Product (Annual growth US$ per capita),Gross Domestic Product (Annual growth US$),Gross Domestic Product (Value US$ per capita),Gross Domestic Product (Value US$)
0,Afghanistan,67.0,1.76,6.0,44.0,0.0,28.0,67.0,0.0,2271,0.289848,2.636658,496.940553,18904.490263
1,Albania,34.0,11.71,61.0,22.0,0.0,12.0,34.0,0.0,3334,1.672835,1.608539,5345.602513,15400.237155
2,Algeria,287.0,6.67,23.0,0.0,1.0,291.0,287.0,0.0,3490,-4.295718,-2.426783,3975.519002,171158.234285
3,Angola,327.0,10.28,34.0,278.0,0.0,49.0,327.0,0.0,2441,-14.591763,-11.776659,2809.626403,89417.189120
4,Antigua and Barbuda,7.0,61.49,265.0,7.0,0.0,0.0,6.0,1.0,2483,4.180217,5.080430,17376.112907,1687.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Venezuela (Bolivarian Republic of),428.0,15.01,52.0,0.0,0.0,428.0,428.0,0.0,2200,-25.463949,-26.421968,5264.842747,150131.355479
176,Viet Nam,1256.0,13.08,48.0,203.0,37.0,1089.0,1262.0,0.0,2937,5.799010,6.813465,2715.275874,261921.229201
177,Yemen,352.0,12.06,42.0,140.0,0.0,192.0,352.0,0.0,2017,7.724414,10.231443,865.726138,25246.238120
178,Zambia,65.0,3.65,12.0,23.0,9.0,51.0,65.0,0.0,2261,-13.936464,-11.410254,1305.060260,23309.720448
179,Zimbabwe,54.0,3.66,12.0,1.0,0.0,52.0,54.0,0.0,1704,-11.048311,-9.775124,1497.738092,21935.075306

In [18]:
dispo2019.loc[dispo2019["Area"]== "China, Taiwan Province of", ["Gross Domestic Product (Annual growth US$ per capita)","Gross Domestic Product (Annual growth US$)","Gross Domestic Product (Value US$ per capita)","Gross Domestic Product (Value US$)"] ] = dispo2019.loc[dispo2019["Area"]== "China, Macao SAR", ["Gross Domestic Product (Annual growth US$ per capita)", "Gross Domestic Product (Annual growth US$)","Gross Domestic Product (Value US$ per capita)","Gross Domestic Product (Value US$)"] ].values
dispo2019[dispo2019["Area"].str.contains("China")]

,Area,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products),Gross Domestic Product (Annual growth US$ per capita),Gross Domestic Product (Annual growth US$),Gross Domestic Product (Value US$ per capita),Gross Domestic Product (Value US$)
32,China,21386.0,14.82,69.0,1814.0,903.0,21195.0,21715.0,41.0,3342,2.275180,2.717516,10195.736594,1.470083e+07
33,"China, Hong Kong SAR",440.0,53.61,214.0,773.0,310.0,19.0,399.0,41.0,3236,0.234543,1.110526,49179.751067,3.657082e+05
34,"China, Macao SAR",22.0,34.76,142.0,32.0,0.0,3.0,22.0,0.0,3307,-1.640253,-0.268497,86118.106459,5.515391e+04
35,"China, Taiwan Province of",922.0,38.79,146.0,215.0,5.0,731.0,922.0,0.0,2955,-1.640253,-0.268497,86118.106459,5.515391e+04
36,"China, mainland",20001.0,14.21,67.0,795.0,588.0,20442.0,20372.0,0.0,3345,2.331421,2.771232,9959.637355,1.427997e+07

In [19]:
pop = pd.read_csv("FAOSTAT_data_5-31-2022 (2).csv")
pop.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,37171.921,X,International reliable sources,NaN
1,OA,Annual population,3,Albania,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,2882.740,X,International reliable sources,NaN
2,OA,Annual population,4,Algeria,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,42228.408,X,International reliable sources,NaN
3,OA,Annual population,5,American Samoa,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,55.465,X,International reliable sources,NaN
4,OA,Annual population,6,Andorra,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2018,2018,1000 persons,77.006,X,International reliable sources,NaN

In [20]:
pop = pop[["Area", "Value"]]
pop.rename(columns={"Value":"Population (2018)"}, inplace=True)
pop["Area"].replace(["C?te d'Ivoire"],["Côte d'Ivoire"], inplace=True)
pop.head()

             Area  Population (2018)
0     Afghanistan          37171.921
1         Albania           2882.740
2         Algeria          42228.408
3  American Samoa             55.465
4         Andorra             77.006

In [21]:
df = dispo2019.merge(pop, on="Area", how="inner")
df

,Area,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products),Gross Domestic Product (Annual growth US$ per capita),Gross Domestic Product (Annual growth US$),Gross Domestic Product (Value US$ per capita),Gross Domestic Product (Value US$),Population (2018)
0,Afghanistan,67.0,1.76,6.0,44.0,0.0,28.0,67.0,0.0,2271,0.289848,2.636658,496.940553,18904.490263,37171.921
1,Albania,34.0,11.71,61.0,22.0,0.0,12.0,34.0,0.0,3334,1.672835,1.608539,5345.602513,15400.237155,2882.740
2,Algeria,287.0,6.67,23.0,0.0,1.0,291.0,287.0,0.0,3490,-4.295718,-2.426783,3975.519002,171158.234285,42228.408
3,Angola,327.0,10.28,34.0,278.0,0.0,49.0,327.0,0.0,2441,-14.591763,-11.776659,2809.626403,89417.189120,30809.787
4,Antigua and Barbuda,7.0,61.49,265.0,7.0,0.0,0.0,6.0,1.0,2483,4.180217,5.080430,17376.112907,1687.533333,96.286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Venezuela (Bolivarian Republic of),428.0,15.01,52.0,0.0,0.0,428.0,428.0,0.0,2200,-25.463949,-26.421968,5264.842747,150131.355479,28887.118
176,Viet Nam,1256.0,13.08,48.0,203.0,37.0,1089.0,1262.0,0.0,2937,5.799010,6.813465,2715.275874,261921.229201,95545.962
177,Yemen,352.0,12.06,42.0,140.0,0.0,192.0,352.0,0.0,2017,7.724414,10.231443,865.726138,25246.238120,28498.683
178,Zambia,65.0,3.65,12.0,23.0,9.0,51.0,65.0,0.0,2261,-13.936464,-11.410254,1305.060260,23309.720448,17351.708
179,Zimbabwe,54.0,3.66,12.0,1.0,0.0,52.0,54.0,0.0,1704,-11.048311,-9.775124,1497.738092,21935.075306,14438.802

In [22]:
df_abstract(df)

======================================================================
Apérçu des données :

,Area,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products),Gross Domestic Product (Annual growth US$ per capita),Gross Domestic Product (Annual growth US$),Gross Domestic Product (Value US$ per capita),Gross Domestic Product (Value US$),Population (2018)
0,Afghanistan,67.0,1.76,6.0,44.0,0.0,28.0,67.0,0.0,2271,0.289848,2.636658,496.940553,18904.490263,37171.921
1,Albania,34.0,11.71,61.0,22.0,0.0,12.0,34.0,0.0,3334,1.672835,1.608539,5345.602513,15400.237155,2882.740
2,Algeria,287.0,6.67,23.0,0.0,1.0,291.0,287.0,0.0,3490,-4.295718,-2.426783,3975.519002,171158.234285,42228.408
3,Angola,327.0,10.28,34.0,278.0,0.0,49.0,327.0,0.0,2441,-14.591763,-11.776659,2809.626403,89417.189120,30809.787
4,Antigua and Barbuda,7.0,61.49,265.0,7.0,0.0,0.0,6.0,1.0,2483,4.180217,5.080430,17376.112907,1687.533333,96.286

(Lignes, Colonnes) : 	 (180, 15)

======================================================================

 Infos :

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 0 to 179
Data columns (total 15 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Area                                                   180 non-null    object
 1   Domestic supply quantity                               180 non-null    float64
 2   Food supply quantity (kg/capita/yr)                    180 non-null    float64
 3   Food supply (kcal/capita/day)                          180 non-null    float64
 4   Import Quantity                                        180 non-null    float64
 5   Export Quantity                                        180 non-null    float64
 6   Production                                             180 non-null    float64
 7   Food                                                   180 non-null    float64
 8   Other uses                                             180 non-null    float64
 9   Food supply (kcal/capita/day)(All products)            180 non-null    int64
 10  Gross Domestic Product (Annual growth US$ per capita)  180 non-null    float64
 11  Gross Domestic Product (Annual growth US$)             180 non-null    float64
 12  Gross Domestic Product (Value US$ per capita)          180 non-null    float64
 13  Gross Domestic Product (Value US$)                     180 non-null    float64
 14  Population (2018)                                      180 non-null    float64
dtypes: float64(13), int64(1), object(1)
memory usage: 22.5+ KB

======================================================================

 Describe :

,Domestic supply quantity,Food supply quantity (kg/capita/yr),Food supply (kcal/capita/day),Import Quantity,Export Quantity,Production,Food,Other uses,Food supply (kcal/capita/day)(All products),Gross Domestic Product (Annual growth US$ per capita),Gross Domestic Product (Annual growth US$),Gross Domestic Product (Value US$ per capita),Gross Domestic Product (Value US$),Population (2018)
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000,1.800000e+02,1.800000e+02
mean,803.661111,20.972278,77.455556,98.316667,106.622222,847.177778,795.988889,6.550000,2883.255556,0.204951,1.424631,14729.919797,5.613792e+05,5.019909e+04
std,2745.410554,16.756265,63.900789,226.944742,451.556194,2994.021031,2771.945159,39.668215,456.524680,7.099733,7.234097,20545.955134,2.262385e+06,1.842122e+05
min,2.000000,0.410000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1704.000000,-29.552667,-27.847660,292.139142,1.779346e+02,5.244100e+01
25%,33.500000,6.962500,23.000000,4.000000,0.000000,11.000000,32.000000,0.000000,2573.750000,-2.806723,-1.549105,1923.179319,1.284015e+04,2.862371e+03
50%,112.500000,17.800000,64.000000,19.500000,0.000000,73.000000,109.000000,0.000000,2878.500000,0.202562,1.186680,6148.024634,4.591122e+04,9.828518e+03
75%,352.750000,30.847500,115.500000,88.500000,14.750000,351.250000,335.500000,0.000000,3288.750000,3.226730,3.815875,17454.087735,2.526454e+05,3.098935e+04
max,21386.000000,76.770000,265.000000,1814.000000,4099.000000,22858.000000,21715.000000,394.000000,3861.000000,26.784479,29.298723,114004.238058,2.137258e+07,1.459378e+06

======================================================================

In [24]:
df.to_csv("df.csv", index=False)