In [1]:
import pandas as pd

In [2]:
dispo = pd.read_csv("DisponibiliteAlimentaire_2017.csv")
pop = pd.read_csv("Population_2000_2018.csv")

In [3]:
dispo

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176595,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2899,Miscellanees,2017,2017,Milliers de tonnes,19.00,S,Données standardisées
176596,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2899,Miscellanees,2017,2017,kg,1.33,Fc,Donnée calculée
176597,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2017,2017,Kcal/personne/jour,1.00,Fc,Donnée calculée
176598,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2017,2017,g/personne/jour,0.04,Fc,Donnée calculée
176599,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2017,2017,g/personne/jour,0.02,Fc,Donnée calculée

In [4]:
test = dispo[dispo["Produit"]=='Viande de Volailles']
test

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.00,S,Données standardisées
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.00,S,Données standardisées
653,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
654,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,57.00,S,Données standardisées
655,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5123,Pertes,2734,Viande de Volailles,2017,2017,Milliers de tonnes,2.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176396,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,67.00,S,Données standardisées
176397,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles,2017,2017,kg,4.68,Fc,Donnée calculée
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,16.00,Fc,Donnée calculée
176399,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.59,Fc,Donnée calculée
176400,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,0.99,Fc,Donnée calculée

In [5]:
test2 = test[['Zone', 'Élément', 'Produit', 'Unité', 'Valeur',]]

In [6]:
test2["Élément"] =test2["Élément"] + " (" + test2["Unité"]+")"
test2

C:\Users\ali75\AppData\Local\Temp\ipykernel_3484\1097158046.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test2["Élément"] =test2["Élément"] + " (" + test2["Unité"]+")"

,Zone,Élément,Produit,Unité,Valeur
651,Afghanistan,Production (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,28.00
652,Afghanistan,Importations - Quantité (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,29.00
653,Afghanistan,Variation de stock (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,0.00
654,Afghanistan,Disponibilité intérieure (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,57.00
655,Afghanistan,Pertes (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,2.00
...,...,...,...,...,...
176396,Zimbabwe,Nourriture (Milliers de tonnes),Viande de Volailles,Milliers de tonnes,67.00
176397,Zimbabwe,Disponibilité alimentaire en quantité (kg/pers...,Viande de Volailles,kg,4.68
176398,Zimbabwe,Disponibilité alimentaire (Kcal/personne/jour)...,Viande de Volailles,Kcal/personne/jour,16.00
176399,Zimbabwe,Disponibilité de protéines en quantité (g/pers...,Viande de Volailles,g/personne/jour,1.59
176400,Zimbabwe,Disponibilité de matière grasse en quantité (g...,Viande de Volailles,g/personne/jour,0.99

In [31]:
test3 = test2.pivot_table(index="Zone",columns=["Élément"])
test3.columns =["Alimentation pour touristes","Aliments pour animaux","Autres utilisations (non alimentaire)","Disponibilité alimentaire (Kcal/personne/jour)","Disponibilité alimentaire en quantité (kg/personne/an)","Disponibilité de matière grasse en quantité (g/personne/jour)","Disponibilité de protéines en quantité (g/personne/jour)","Disponibilité intérieure","Exportations - Quantité","Importations - Quantité","Nourriture","Pertes","Production","Résidus","Semences","Traitement","Variation de stock"]

In [32]:
test3 = test3.fillna(0)

In [33]:
test3["Autres utilisations"] = test3["Alimentation pour touristes"] + test3["Aliments pour animaux"] +test3["Autres utilisations (non alimentaire)"]+test3["Pertes"]+test3["Semences"]+test3["Traitement"]+test3["Résidus"]

In [34]:
test3

,Alimentation pour touristes,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Semences,Traitement,Variation de stock,Autres utilisations
Zone,,,,,,,,,,,,,,,,,,
Afghanistan,0.0,0.0,0.0,5.0,1.53,0.33,0.54,57.0,0.0,29.0,55.0,2.0,28.0,0.0,0.0,0.0,0.0,2.0
Afrique du Sud,0.0,0.0,0.0,143.0,35.69,9.25,14.11,2118.0,63.0,514.0,2035.0,83.0,1667.0,0.0,0.0,0.0,0.0,83.0
Albanie,0.0,0.0,0.0,85.0,16.36,6.45,6.26,47.0,0.0,38.0,47.0,0.0,13.0,0.0,0.0,0.0,4.0,0.0
Algérie,0.0,0.0,0.0,22.0,6.38,1.50,1.97,277.0,0.0,2.0,264.0,13.0,275.0,0.0,0.0,0.0,0.0,13.0
Allemagne,0.0,0.0,0.0,71.0,19.47,4.16,7.96,1739.0,646.0,842.0,1609.0,0.0,1514.0,-38.0,0.0,167.0,-29.0,129.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,0.0,0.0,0.0,147.0,43.47,9.25,14.80,412.0,94.0,433.0,412.0,0.0,48.0,0.0,0.0,0.0,-26.0,0.0
Équateur,0.0,0.0,0.0,83.0,19.31,6.35,6.15,341.0,0.0,0.0,324.0,17.0,340.0,0.0,0.0,0.0,-1.0,17.0
États-Unis d'Amérique,0.0,0.0,89.0,219.0,55.68,14.83,19.93,18266.0,3692.0,123.0,18100.0,0.0,21914.0,0.0,0.0,77.0,80.0,166.0
Éthiopie,0.0,0.0,0.0,0.0,0.13,0.03,0.04,14.0,0.0,1.0,14.0,1.0,14.0,0.0,0.0,0.0,0.0,1.0
Îles Salomon,0.0,0.0,0.0,18.0,4.45,1.31,1.51,3.0,0.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0

In [36]:
test4 =test3[["Disponibilité intérieure","Disponibilité alimentaire en quantité (kg/personne/an)","Importations - Quantité","Production","Exportations - Quantité","Variation de stock","Nourriture","Autres utilisations"]]
test4.columns=["Disponibilité intérieure (Milliers de tonnes)","Disponibilité alimentaire en quantité (kg/personne/an)","Importations - Quantité (Milliers de tonnes)","Production (Milliers de tonnes)","Exportations - Quantité (Milliers de tonnes)","Variation de stock (Milliers de tonnes)","Nourriture (Milliers de tonnes)","Autres utilisations (Milliers de tonnes)"]

In [37]:
test4

,Disponibilité intérieure (Milliers de tonnes),Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité (Milliers de tonnes),Production (Milliers de tonnes),Exportations - Quantité (Milliers de tonnes),Variation de stock (Milliers de tonnes),Nourriture (Milliers de tonnes),Autres utilisations (Milliers de tonnes)
Zone,,,,,,,,
Afghanistan,57.0,1.53,29.0,28.0,0.0,0.0,55.0,2.0
Afrique du Sud,2118.0,35.69,514.0,1667.0,63.0,0.0,2035.0,83.0
Albanie,47.0,16.36,38.0,13.0,0.0,4.0,47.0,0.0
Algérie,277.0,6.38,2.0,275.0,0.0,0.0,264.0,13.0
Allemagne,1739.0,19.47,842.0,1514.0,646.0,-29.0,1609.0,129.0
...,...,...,...,...,...,...,...,...
Émirats arabes unis,412.0,43.47,433.0,48.0,94.0,-26.0,412.0,0.0
Équateur,341.0,19.31,0.0,340.0,0.0,-1.0,324.0,17.0
États-Unis d'Amérique,18266.0,55.68,123.0,21914.0,3692.0,80.0,18100.0,166.0
Éthiopie,14.0,0.13,1.0,14.0,0.0,0.0,14.0,1.0
Îles Salomon,3.0,4.45,6.0,0.0,0.0,3.0,3.0,0.0

In [38]:
pop

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4406,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2014,2014,1000 personnes,13586.707,X,Sources internationales sûres,NaN
4407,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2015,2015,1000 personnes,13814.629,X,Sources internationales sûres,NaN
4408,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2016,2016,1000 personnes,14030.331,X,Sources internationales sûres,NaN
4409,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2017,2017,1000 personnes,14236.595,X,Sources internationales sûres,NaN
4410,OA,Séries temporelles annuelles,181,Zimbabwe,511,Population totale,3010,Population-Estimations,2018,2018,1000 personnes,14438.802,X,Sources internationales sûres,NaN

In [39]:
pop2 = pop[["Zone","Année","Valeur"]]
pop2 = pop2.pivot_table(index="Zone", columns="Année")
pop2

                              Valeur                                   \
Année                           2000       2001       2002       2003
Zone
Afghanistan                20779.953  21606.988  22600.770  23680.871
Afrique du Sud             44967.708  45571.274  46150.913  46719.196
Albanie                     3129.243   3129.704   3126.187   3118.023
Algérie                    31042.235  31451.514  31855.109  32264.157
Allemagne                  81400.882  81453.885  81535.122  81614.380
...                              ...        ...        ...        ...
Îles Salomon                 412.660    423.944    435.432    447.017
Îles Turques-et-Caïques       20.164     21.573     23.232     25.011
Îles Vierges américaines     108.722    108.691    108.561    108.360
Îles Vierges britanniques     20.311     20.675     21.129     21.672
Îles Wallis-et-Futuna         14.694     14.843     14.988     15.096

                                                                       \
Année                           2004       2005       2006       2007
Zone
Afghanistan                24726.684  25654.277  26433.049  27100.536
Afrique du Sud             47291.610  47880.601  48489.459  49119.759
Albanie                     3104.892   3086.810   3063.021   3033.998
Algérie                    32692.163  33149.724  33641.002  34166.972
Allemagne                  81646.474  81602.741  81472.226  81277.830
...                              ...        ...        ...        ...
Îles Salomon                 458.539    469.918    481.078    492.132
Îles Turques-et-Caïques       26.700     28.180     29.391     30.385
Îles Vierges américaines     108.092    107.794    107.462    107.115
Îles Vierges britanniques     22.334     23.107     24.023     25.047
Îles Wallis-et-Futuna         15.093     14.939     14.609     14.132

                                                                       \
Année                           2008       2009       2010       2011
Zone
Afghanistan                27722.276  28394.813  29185.507  30117.413
Afrique du Sud             49779.471  50477.011  51216.964  52003.755
Albanie                     3002.678   2973.048   2948.023   2928.592
Algérie                    34730.608  35333.881  35977.455  36661.445
Allemagne                  81065.752  80899.961  80827.002  80855.632
...                              ...        ...        ...        ...
Îles Salomon                 503.360    515.181    527.861    541.521
Îles Turques-et-Caïques       31.202     31.934     32.660     33.377
Îles Vierges américaines     106.756    106.412    106.087    105.793
Îles Vierges britanniques     26.097     27.039     27.794     28.319
Îles Wallis-et-Futuna         13.578     13.070     12.689     12.462

                                                                       \
Année                           2012       2013       2014       2015
Zone
Afghanistan                31161.376  32269.589  33370.794  34413.603
Afrique du Sud             52832.658  53687.121  54544.186  55386.367
Albanie                     2914.096   2903.790   2896.305   2890.513
Algérie                    37383.895  38140.133  38923.692  39728.025
Allemagne                  80972.628  81174.367  81450.378  81787.411
...                              ...        ...        ...        ...
Îles Salomon                 556.063    571.336    587.079    603.118
Îles Turques-et-Caïques       34.066     34.731     35.369     35.981
Îles Vierges américaines     105.534    105.303    105.114    104.958
Îles Vierges britanniques     28.650     28.847     28.989     29.152
Îles Wallis-et-Futuna         12.375     12.356     12.340     12.266


Année                           2016       2017       2018
Zone
Afghanistan                35383.032  36296.113  37171.921
Afrique du Sud             56207.646  57009.756  57792.518
Albanie                     2886.438   2884.169   2882.740
Algérie                    40551.392  41389.189  42228.408
Allemagne                  82193.768  82658.409  83124.418
...                              ...        ...        ...
Îles Salomon                 619.438    636.039    652.857
Îles Turques-et-Caïques       36.559     37.115     37.665
Îles Vierges américaines     104.835    104.751    104.680
Îles Vierges britanniques     29.355     29.577     29.802
Îles Wallis-et-Futuna         12.107     11.900     11.661

[238 rows x 19 columns]

In [40]:
pop2.columns = ["2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018"]

In [41]:
pop2["croissance_moyenne_population (%)"] = round(((pop2["2018"]/pop2["2013"])**(1/6)*100)-100,2)

In [42]:
df = pd.merge(test4, pop2[["2017","croissance_moyenne_population (%)"]], on="Zone", how = "left")
df.rename(columns={"2017":"population_2017"})
df.reset_index()

,Zone,Disponibilité intérieure (Milliers de tonnes),Disponibilité alimentaire en quantité (kg/personne/an),Importations - Quantité (Milliers de tonnes),Production (Milliers de tonnes),Exportations - Quantité (Milliers de tonnes),Variation de stock (Milliers de tonnes),Nourriture (Milliers de tonnes),Autres utilisations (Milliers de tonnes),2017,croissance_moyenne_population (%)
0,Afghanistan,57.0,1.53,29.0,28.0,0.0,0.0,55.0,2.0,36296.113,2.39
1,Afrique du Sud,2118.0,35.69,514.0,1667.0,63.0,0.0,2035.0,83.0,57009.756,1.24
2,Albanie,47.0,16.36,38.0,13.0,0.0,4.0,47.0,0.0,2884.169,-0.12
3,Algérie,277.0,6.38,2.0,275.0,0.0,0.0,264.0,13.0,41389.189,1.71
4,Allemagne,1739.0,19.47,842.0,1514.0,646.0,-29.0,1609.0,129.0,82658.409,0.40
...,...,...,...,...,...,...,...,...,...,...,...
167,Émirats arabes unis,412.0,43.47,433.0,48.0,94.0,-26.0,412.0,0.0,9487.203,0.77
168,Équateur,341.0,19.31,0.0,340.0,0.0,-1.0,324.0,17.0,16785.361,1.41
169,États-Unis d'Amérique,18266.0,55.68,123.0,21914.0,3692.0,80.0,18100.0,166.0,325084.756,0.56
170,Éthiopie,14.0,0.13,1.0,14.0,0.0,0.0,14.0,1.0,106399.924,2.28
171,Îles Salomon,3.0,4.45,6.0,0.0,0.0,3.0,3.0,0.0,636.039,2.25

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 172 entries, Afghanistan to Îles Salomon
Data columns (total 10 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   Disponibilité intérieure (Milliers de tonnes)           172 non-null    float64
 1   Disponibilité alimentaire en quantité (kg/personne/an)  172 non-null    float64
 2   Importations - Quantité (Milliers de tonnes)            172 non-null    float64
 3   Production (Milliers de tonnes)                         172 non-null    float64
 4   Exportations - Quantité (Milliers de tonnes)            172 non-null    float64
 5   Variation de stock (Milliers de tonnes)                 172 non-null    float64
 6   Nourriture (Milliers de tonnes)                         172 non-null    float64
 7   Autres utilisations (Milliers de tonnes)                172 non-null    float64
 8   2017                                                    172 non-null    float64
 9   croissance_moyenne_population (%)                       172 non-null    float64
dtypes: float64(10)
memory usage: 14.8+ KB

In [44]:
df[df["croissance_moyenne_population (%)"].isnull()]

Empty DataFrame
Columns: [Disponibilité intérieure (Milliers de tonnes), Disponibilité alimentaire en quantité (kg/personne/an), Importations - Quantité (Milliers de tonnes), Production (Milliers de tonnes), Exportations - Quantité (Milliers de tonnes), Variation de stock (Milliers de tonnes), Nourriture (Milliers de tonnes), Autres utilisations (Milliers de tonnes), 2017, croissance_moyenne_population (%)]
Index: []

In [45]:
tr= pd.read_csv("FAOSTAT_data_5-30-2022.csv")
tr

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,MK,Indicateurs macro,2,Afghanistan,6110,Valeur US $,22008,Produit Intérieur Brut,2013,2013,millions,19621.802455,X,Sources internationales sûres,NaN
1,MK,Indicateurs macro,2,Afghanistan,6119,Valeur US $ par habitant,22008,Produit Intérieur Brut,2013,2013,US$,608.058642,X,Sources internationales sûres,NaN
2,MK,Indicateurs macro,2,Afghanistan,6129,Croissance annuelle US$,22008,Produit Intérieur Brut,2013,2013,%,2.536008,Fc,Donnée calculée,NaN
3,MK,Indicateurs macro,2,Afghanistan,61290,Croissance annuelle US$ par habitant,22008,Produit Intérieur Brut,2013,2013,%,-0.985318,Fc,Donnée calculée,NaN
4,MK,Indicateurs macro,2,Afghanistan,6110,Valeur US $,22008,Produit Intérieur Brut,2014,2014,millions,19550.702567,X,Sources internationales sûres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13499,MK,Indicateurs macro,181,Zimbabwe,61290,Croissance annuelle US$ par habitant,22011,Revenu national brut,2019,2019,%,-6.432653,Fc,Donnée calculée,NaN
13500,MK,Indicateurs macro,181,Zimbabwe,6110,Valeur US $,22011,Revenu national brut,2020,2020,millions,21430.886292,X,Sources internationales sûres,NaN
13501,MK,Indicateurs macro,181,Zimbabwe,6119,Valeur US $ par habitant,22011,Revenu national brut,2020,2020,US$,1441.902434,X,Sources internationales sûres,NaN
13502,MK,Indicateurs macro,181,Zimbabwe,6129,Croissance annuelle US$,22011,Revenu national brut,2020,2020,%,-0.553229,Fc,Donnée calculée,NaN
13503,MK,Indicateurs macro,181,Zimbabwe,61290,Croissance annuelle US$ par habitant,22011,Revenu national brut,2020,2020,%,-2.008211,Fc,Donnée calculée,NaN